<%- include("./../partial/_header.ejs") %>

<div class="container-fluid p-0">
  <div class="d-flex">
    <%- include("./../partial/_sidebar.ejs") %>

    <div class="container m-2">
      <!-- this is main body -->
    </div>
  </div>
</div>

<%- include("./../partial/_footer.ejs") %>
