<%- include("./../partial/_header.ejs") %>

<div class="container mt-3">
  <div class="d-flex justify-content-between">
    <a class="nav-link" href="/">Landing Page</a>
    <a class="nav-link" href="" id="themeToggleBtn"><i class="fas fa-sun"></i></a>
  </div>
</div>
<div class="card-container text-center mb-4">
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-3">
      <h2 class="my-5">Fox Sense Insurance</h2>
      <div class="card shadow p-4">
        <h3 class="text-center mb-5">Login</h3>
        <form action="/login" method="post">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="Email" autocomplete="off" name="email" />
            <label for="floatingInput">Email Address</label>
          </div>
          <div class="form-floating mb-1">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="off" name="password" />
            <label for="floatingPassword">Password</label>
          </div>
          <button type="submit" class="btn btn-primary w-100 my-3">Login</button>
        </form>
        <div class="text-center">
          <a href="/register" class="small">Register here</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("./../partial/_footer.ejs") %>
