    <script>
        const themeToggleBtn = document.getElementById("themeToggleBtn");
        const body = document.body;
        
        // 1. Set theme saat halaman dimuat berdasarkan localStorage
        const savedTheme = localStorage.getItem("theme") || "dark"; // default "dark"
        body.setAttribute("data-bs-theme", savedTheme);
        updateButton(savedTheme)

        themeToggleBtn.addEventListener("click", function() {
            // Toggle between dark and light themes
            const currentTheme = body.getAttribute("data-bs-theme");
            const newTheme = currentTheme === "dark" ? "light" : "dark";
            
            // Update theme dan simpan di localStorage
            body.setAttribute("data-bs-theme", newTheme);
            localStorage.setItem("theme", newTheme);
            
            // Update button text and icon
            updateButton(newTheme)
        });
        
        // 3. Fungsi untuk memperbarui tampilan tombol sesuai tema
        function updateButton(theme) {
            if (theme === "dark") {
                themeToggleBtn.innerHTML = '<i class="bi bi-moon-stars-fill"></i>';
            } else {
                themeToggleBtn.innerHTML = '<i class="bi bi-sun-fill"></i>';
            }
        }
    </script>

    <!-- Bootstrap JavaScript -->
    <script src="/js/bootstrap.bundle.min.js" ></script>
  </body>
</html>